CHASTER_API_URL=https://api.chaster.app
CHASTER_API_CLIENT_ID=yourapp-123456
CHASTER_API_TOKEN=yourDeveloperToken
SESSION_SECRET=someSecret
WEBHOOK_USERNAME=yourWebhookUsername
WEBHOOK_PASSWORD=yourWebhookPassword